@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');

:root {
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --text-color: #161823;
    --sub-text-color: rgba(22, 24, 35, 0.5);

    //Default layout
    --height-header: 60px;
    --width-layout: 1150px;
    --width-sidebar: 356px;
    --default-layout-horizontal-spacer: 24px;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

// Tất cả những thẻ html nào có tabindex => bỏ outline và border của nó đi.
button,
input,
[tabindex] {
    outline: none;
    border: none;
}
button {
    cursor: pointer;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}
