.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    width: var(--width-layout);
    padding: 0px var(--default-layout-horizontal-spacer);
}

.content {
    flex: 1;
}
